<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="log.dir" value="${LOG_PATH:-../logs}" />
  <property name="log.name" value="dcc-metadata-client" />
  <property name="pattern.file" value="%date{ISO8601} [%thread] %-5level %logger{20} - %msg%n" />

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>



  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${log.dir}/${log.name}.log</file>
    <encoder>
      <pattern>${pattern.file}</pattern>
    </encoder>
  </appender>


  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
</configuration>